@import url('https://fonts.googleapis.com/css?family=Exo:800i|Teko');

.main{
	width: 100%;
	top:60px;
	bottom: 40px;
	position: relative;
}

.titulo-centro{
	text-align: center;
	font-size: 25px;
	color: #02C39A;
	text-shadow: 2px 2px #05668D;

}

.cuerpo-centro{
	width: 98%;
	bottom: 0px;
	left: 1px;
	right: 1px;
	top: 85px;
	margin:auto;
	display: block;
}

.seccion-video{
	width:40%;
	height: 300px;
	margin: 5px;
	float: right;
	box-shadow: 0px 0px 80px #05668D;
}

.video{
	width: 100%;
	height: 100%;
}

.seccion-texto{
	width: 50%
}

.titulo-finalidad{
	text-align: center;
	font-size: 23px;
	color: #02C39A;
	text-shadow: 2px 2px #05668D;
}

.texto p{
	font-size: 20px;
	color:#05668D;
	text-shadow: 2px 2px #F0F3BD;#05668D
	text-align: center;
}

@media (max-width: 950px){
	.main{
		width: 100%;
		top:60px;
		bottom: 40px;
		position: relative;
	}

	.titulo-centro{
		text-align: center;
		font-size: 25px;
		color: #02C39A;
		text-shadow: 2px 2px #05668D;
	}

	.cuerpo-centro{
		width: 98%;
		bottom: 0px;
		left: 1px;
		right: 1px;
		top: 85px;
		display: block;
	}

	.seccion-video{
		width: auto;
		text-align: center;
		margin: 2px;
		float:none;
		box-shadow: 0px 0px 0px #05668D;
	}

	.video{
		text-align: center;
		padding: 0px;
		width: auto;
	}

	.seccion-texto{
		width: 100%;
		margin-bottom: 40px;
	}

	.titulo-finalidad{
		text-align: center;
		font-size: 23px;
		color: #02C39A;
		text-shadow: 2px 2px #05668D;
		margin-bottom: 10px;
	}

	.texto p{
		font-size: 20px;
		color:#05668D;
		text-shadow: 2px 2px #F0F3BD;#05668D
		text-align: center;
	}

	
}
