@import url('https://fonts.googleapis.com/css?family=Exo:800i|Teko');

.main{
	width: 100%;
	top:60px;
	bottom: 40px;
	position: relative;
}

.titulo-centro{
	text-align: center;
	font-size: 25px;
	color: #02C39A;
	text-shadow: 2px 2px #05668D;
}

.cuerpo-centro{
	width: 98%;
	bottom: 0px;
	left: 1px;
	right: 1px;
	top: 85px;
	margin:auto;
	display: block;
}

.seccion-texto{
	width: 100%;
}

.titulo-pasos{
	text-align: center;
	font-size: 23px;
	color: #02C39A;
	text-shadow: 2px 2px #05668D;
}

.instrucciones ol li{
	font-family: 'Teko', sans-serif;
	font-size: 50px;
	color:#05668D;
	text-shadow: 2px 2px #F0F3BD;
	text-align: center;
}